

  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">

<% @detail['images'].each do |f| %>
<img src="<%= f['hostedLargeUrl'] %>"></img>
	<%end%>



<% @detail['ingredientLines'].each do |f| %>
<li><%=f%></li>
	<%end%>
	<%=link_to 'Get Recipe', @detail['source']['sourceRecipeUrl'] %>



<li><%= link_to 'Back', new_ingredient_path %></li>
	  </div>
   </div>
   </div>
</div>
	