

<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
      	<div class="modal-body">

<h1>What do you have in your pantry?</h1>

<%= form_for @ingredient do |f| %>
  <%= f.label :Ingredient %>
  <%= f.text_field :name %>
  <%= f.submit 'Search Recipes',:class => "btn btn-primary" %>
<% end %>

		</div>
	</div>
</div>
</div>


