/*
 *= require bootstrap.min.css
 *= require_self
 *= require_tree .
 */

body {
	background: url("http://d1l6lhgof63zdh.cloudfront.net/aol-office-ldWDQOq0ec-full-width.jpg");
	background-size: cover;
	text-align: center;
	
	
}

.banner {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	
	
	font-size: 100px;
	color: red;
	
}

div {
	padding: 1.5%;
}

li {
	list-style: none;
	margin: 15px;
}